@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Orbitron&display=swap');
body{
    margin: 0%;
    padding: 0%;
    font-family: 'Montserrat', sans-serif;
}
#menu{
position: fixed;
top: 0;
z-index: 1000;

}
nav{
    width: 100%;
    background-color: rgba(8, 2, 61, 0.829);
    border-radius: 10px;
    padding: 20px 0;
    margin-top: 2%;
    box-shadow: 0 2px 5px 5px rgb(151, 144, 144);
    
}
nav .lista, h1{
    display: inline;
}
main{
  margin-top: 113px;
}
.lista{
margin-left:20%;
}
h1{
    color: aliceblue;
    margin-top: 3%;
    padding: 20px;
    
}
.lista a{
    text-decoration: none;
    border: solid rgb(201, 190, 190) 2px;
    border-radius: 10px;
    background-color: aliceblue;
    padding: 8px;
    color: black;
    margin-left: 20px;
}
iframe{
   width: 410px;
   height: 570px;
   padding: 10px;
   margin-top: 5px;
   box-shadow: 0 5px 8px 5px gray;
}
#ubicacion a{
  margin-top:20px;
  margin: auto;
  width: 70%;
  font-size: small;
  
}
#carouselExampleControls{
  margin: auto;
  width: 80%;
  margin-top: 30px;
}

.carousel {
    background-color: #f0f0f0;
    border: solid rgb(247, 245, 245) 2px;
    box-shadow: #d4d1d1;
    width: 600px;
    height: 400px;
    text-align: center;
    margin-top: 30px;
 

  }
  .carousel-inner {
    border-radius: 10px;
    text-align: center;
    
   
    
  }
  .carousel-item img {
    max-width: 100%;
    width: 600px;
    height: 400px;
    display: flex;
    text-align: center; 
  }
  .carousel-control-prev, .carousel-control-next {
    background-color: #dad7d7;
    opacity: 20%;
    text-align: center;
  }
  .carousel-indicators {
    background-color:white;
    text-align: center;  
  }
 #parrafo-a-mostrar{
  text-align: center;
  padding: 5px;
  margin: auto;
  color: rgb(22, 21, 21);
  margin: auto;
  margin-top: 2%;
  font-size: 18px;
 }
  h2{
    text-align: center;
    padding: 12px; 
  }
  .col-4{
    background-color: #c2c1cf;
  }
#centros{
  background-color: rgba(16, 26, 82, 0.829);
  padding: 18px;
  color: white;
  font-weight: bold;
  margin-top: 20px;
  font-size: 30px;
  text-align: center;
}
.card-body{
  height: 200px;
  background-color: rgba(16, 26, 82, 0.829);
  color: white;
  
}
.col-3{
  padding: 20px;
}
h4{
  text-align: center;
}
.card{
  border: solid 2px rgb(68, 66, 66);
  box-shadow: 0 5px 8px 5px rgb(126, 125, 125);
}
form{
  padding: 20px 10px;
  border-radius: 10px;
  width: 100%;
}
#formulario{
  background-color: rgba(16, 26, 82, 0.829);
  color: white;
  width: 100%;
  margin: auto;
  box-shadow: 0 8px 10px 8px rgb(14, 13, 13);
}
p{
  text-align: center;
}
label{
  margin-top: 5%;
}
input{
  border-radius: 10px;
  box-shadow: 2px 2px 4px rgba(88, 85, 85, 0.2);
  border: none;
}
.card-text{
  text-align: start;
  margin: auto
}
input:focus {
  background-color: rgb(2, 18, 32);
  color: darkblue;
}
#texto-a-mostrar {
  opacity: 0;
}
@keyframes aparecer {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}
#texto-a-mostrar {
  opacity: 0;
}
@keyframes aparecer {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}
.aparecer {
  animation: aparecer 2s ease-in-out forwards;
}
#parrafo-a-mostrar{
  opacity: 0;
}

input:hover {
  background-color: #aaa5a5;
}
.card {
  transition: transform 0.3s;
}

.card:hover {
  transform: scale(1.1);
}
.colecta{
  padding: 10%;
  width: 100%;
}
#donacion{
  margin-top: 10px;
  border-radius: 10px;
  border: solid 1px black;
  box-shadow: 5px 4px 4px 0;
  margin-inline-start: 25px;
}
h3{
  text-align: center;
  margin-top:5%;
  margin-inline-end: 10%;
  font-weight: bolder;
}

}
.card-header{
  background-color: #dad7d7;
}
#medula{
  margin-top: 20px;
  text-align: left;
}
.tiempo{
  width: 100%;
  margin: auto;
  margin-top: 20px;
  
  
}
#auxilio{
  width: 100%;
  margin-top: 20px;
  height: 220px;
}
h5{
  margin-right: 10px;
}
li,p{
  display: inline-block;
}
p{
  margin-left: 50%;
}








