@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Orbitron&display=swap');
body{
    margin: 0%;
    padding: 0%;
    font-family: 'Montserrat', sans-serif;
}
#menu{
position: fixed;
top: 0;
z-index: 1000;

}
nav{
    width: 100%;
    background-color: rgba(16, 26, 82, 0.829);
    border-radius: 10px;
    padding: 20px 0;
    margin-top: 2%;
    
}
nav .lista, h1{
    display: inline;
}
main{
  margin-top: 100px;
}
.lista{
margin-left:20%;
}
h1{
    color: aliceblue;
    margin-top: 3%;
    padding: 20px;
    
}
.lista a{
    text-decoration: none;
    border: solid rgb(201, 190, 190) 2px;
    border-radius: 10px;
    background-color: aliceblue;
    padding: 8px;
    color: black;
    margin-left: 20px;
}
iframe{
   width: 400px;
   height: 570px;
   padding: 10px;
}
#mapa{
  margin-top: 5%;
}


.carousel {
    background-color: #f0f0f0;
    margin-inline-start: 2%;
    margin: left 2%;
    border: solid rgb(211, 209, 209) 2px;
    box-shadow: #d4d1d1;
    margin-top: ;
  }
  
  .carousel-inner {
    border-radius: 10px;
    
  }
  
  .carousel-item img {
    max-width: 100%;
    height: auto;
    
  }
  
  .carousel-control-prev, .carousel-control-next {
    background-color: #dad7d7;
    opacity: 40%
    
  }
  
  .carousel-indicators {
    background-color:white;
  }
  
 #parrafo-a-mostrar{
  text-align: center;
  padding: 5px;
  margin: auto;
  color: rgb(22, 21, 21);
  margin: auto;
  margin-top: 2%;
  font-size: 18px;
  
 }
  h2{
    text-align: center;
    padding: 12px;
    
    
  }
  .col-4{
    background-color: #c2c1cf;
    opacity:;
  }
#centros{
  background-color: rgba(16, 26, 82, 0.829);
  padding: 18px;
  color: white;
  font-weight: bold;
  margin-top: 20px;
}
.card-body{
  height: 200px;
}
  
 
.col-3{
  padding: 20px;
}
h4{
  text-align: center;
}
.card{
  border: solid 2px rgb(185, 177, 177);
}
form{
  padding: 10px;
  border-radius: 10px;
  width: 100%;
}
#formulario{
  background-color: rgba(16, 26, 82, 0.829);
  color: white;
  
}
p{
  text-align: center;
}
label{
  margin-top: 5%;
  border-radius: 10px;
}
input{
  border-radius: 10px;
  border: solid 2px grey;
}
.card-text{
  text-align: start;
  margin: auto
}
input:focus {
  background-color: lightblue;
  color: darkblue;
}
#texto-a-mostrar {
  opacity: 0;
}

@keyframes aparecer {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}
#texto-a-mostrar {
  opacity: 0;
}

@keyframes aparecer {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}

.aparecer {
  animation: aparecer 3s ease-in-out forwards;
}
#parrafo-a-mostrar{
  opacity: 0;
}










